@font-face {
    font-family: montserrat-normal;
    src: url(../Resources/Fonts/Montserrat-VariableFont_wght.ttf);
}

* {
    margin: 0;
    padding: 0;
    font-family: montserrat-normal, Helvetica, Arial, sans-serif;
    font-weight: 600;
    color: white;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    color: white;
    background-color: black;
    background-image: url(../Resources/Images/star.png);
    background-repeat: repeat;
}

div {
    padding-top: 50px;
    padding-bottom: 50px;
    border: 1px solid red;
}

h1 {
    font-weight: 700;
    font-size: 65px;
    padding-bottom: 30px;
    /*text-shadow: white 1px 1px;*/
    /*text-shadow: 0 0 1em #2c6638, 0 0 1em #2c6638,  0 0 .1em white;*/
}

.video {
    border: 2px solid white;
    box-shadow: white 0px 0px 2em;
}

.video-container {
    padding: 50px;
}

div.navbar,
.navbar div {
    padding-top: 0px;
    padding-bottom: 0px;
    border: 1px solid blue;
}

.navbar-buttons {
    align-items: center;
}

#home-button,
h1 {
    color: #2c6638;
}

#navbar li a {
    color: white;
    font-size: 25px;
    font-weight: 400;
}

#navbar-div li a {
    border: 1px solid white;
    float: right;
}

#navbar li {
    border: 1px solid green;
}

.container {
    min-width: 90%;
}

.social-button-container {
    padding: 20px;
}

.social-button {
    width: 100px;
    height: 100px;
    background: none;
    text-shadow: 0 0 0;
}

.social-icon {
    max-width: 100px;
    width: auto;
    height: auto;
}

