@font-face {
    font-family: montserrat-normal;
    src: url(../Resources/Fonts/Montserrat-VariableFont_wght.ttf);
}

@font-face {
    font-family: montserrat-italic;
    src: url(../Resources/Fonts/Montserrat-Italic-VariableFont_wght.ttf);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: montserrat-normal, Helvetica, Arial, sans-serif;
    font-weight: 600;
    color: white;
}

html {
    font-size: 14px;
    scroll-behavior: smooth;
    position: relative;
    min-height: 100%;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html,
body {
    max-width: 100%;
    overflow-x: hidden;
}

body {
    margin-bottom: 60px;
    color: white;
    background-color: black;
    background-image: url(../Resources/Images/star.png);
    background-repeat: repeat;
}

div {
    padding-top: 50px;
    padding-bottom: 50px;
    /*border: 1px solid red;*/
}

h1 {
    font-weight: 700;
    font-size: 65px;
    padding-bottom: 30px;
    /*text-shadow: white 1px 1px;*/
    /*text-shadow: 0 0 1em #2c6638, 0 0 1em #2c6638,  0 0 .1em white;*/
}



/*Projects*/

.project-buttons {
    display: flex;
    justify-content: space-around;
    padding: 0;
    z-index: 1;
}

.project-button {
    background: none;
    border: none;
    color: white;
    text-decoration: none;
}

.project-button:hover {
    transition: all .5s;
    text-shadow: white 0 0 10px;
    color: white;
    
}

a.selected {
    transition: all .5s;
    text-shadow: white 0 0 10px;
    text-decoration: underline;
    font-weight: bold;
}

.projects-slider-container {
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding: 0px;
}

.projects-slider {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    padding: 0px;
}

.projects-slider .project-content {
    flex: 1 0 100%;
    scroll-snap-align: start;
    padding: 0px;
}

.distressed-selected {
    transition: all .5s;
    transform: translate3d(0, 0, 0);
}

.distressed2-selected {
    transition: all .5s;
    transform: translate3d(-100%, 0, 0);
}

.floor-after-floor-selected {
    transition: all .5s;
    transform: translate3d(-200%, 0, 0);
}

.projects-slider::-webkit-scrollbar {
    display: none;
}

.project-content div div {
    display: grid;
    grid-template-columns: 40% 1fr;
}

.project-content div .content-showcase {
    padding: 0px;
}

.project-content div div span {
    margin: auto;
    font-size: 20px;
}

.project-content h2 {
    font-size: 100px;
}


.project-content .image-stack {
    content: ' ';
    display: table;
    clear: both;
    padding: 0px;
}

.image-stack-item-top {
    float: right;
    width: 295%;
    margin-top: -25%;
    margin-right: -120%;
    padding-left: 105%;
    padding-right: 35%;
    padding-bottom: 0%;
    z-index: 1;
}

.image-stack-item-bottom {
    float: left;
    width: 200%;
    margin-top: -4%;
    margin-left: 0%;
    margin-right: -100%;
    padding-top: 5%;
    padding-right: 35%;
    padding-left: 10%;
}

.project-content img {
    border: 2px solid white;
    box-shadow: white 0px 0px 10px;
    width: 100%;
    display: block;
    margin: 10px;
}

.video {
    border: 2px solid white;
    box-shadow: white 0px 0px 20px;
}

.video-container {
    display: inline-block;
    padding: 50px;
}

header {
    /*border: 2px solid green;*/
}

.navbar {
    /*border: 2px solid orange;*/
    transition: all .5s;
    padding: 0px 0px;
    margin: 0;
    width: 100%;
    position: fixed;
    z-index: 10;
}

header div {
    transition: all .5s;
}

.scroll-down .container-fluid {
    transition: all .5s;
    transform: translate3d(0, -100%, 0);
}

.scroll-up .container-fluid {
    transition: all .5s;
    background-color: black;
    transform: translate3d(0, 0%, 0);
    box-shadow: white 0px 0px 20px;
    opacity: .9;
}

.navbar div {
    padding: 10px 0px;
    /*border: 1px solid blue;*/
}

.navbar-buttons {
    align-items: center;
}

#home-button {
    margin-left: 20px;
    /*border: 1px solid white;*/
}

#home-button img {
    transition: .5s;
    width: 80px;
    height: 80px;
    margin: 0px 20px;
}

#home-button:hover img {
    transition: .5s;
    transform: rotate(360deg);
}

h1 {
    color: #2c6638;
}

#navbar-div ul {
    margin-right: 50px;
    /*border: 1px solid green;*/
}

#navbar-div li {
    padding: 0px 20px;
    /*border: 1px solid green;*/
}

#navbar-div li a {
    transition: all .5s;
    color: white;
    font-size: 25px;
    font-weight: normal;
    /*border: 1px solid white;*/
}

#navbar-div li a:hover {
    transition: all .5s;
    color: white;
    font-size: 27px;
    font-weight: 500;
    text-shadow: white 0px 0px 30px;
}


.container {
    min-width: 90%;
}

#name {
    padding: 0px;
    margin-top: 20px;
}

#headline {
    text-shadow: white 0px 0px 20px;
    font-family: montserrat-italic;
}

.social-button-container {
    transition: all .5s;
    display: inline-block;
    padding: 10px;
    margin: 10px 20px;
    width: 100px;
    height: 100px;
    border: 1px solid white;
    border-radius: 10px;
    background-color: floralwhite;
}

.social-button-container:hover {
    transition: all .5s;
    display: inline-block;
    padding: 10px;
    margin: 10px 20px;
    width: 110px;
    height: 110px;
    border: 1px solid white;
    border-radius: 10px;
    background-color: black;
    box-shadow: white 0px 0px 25px;
}

.social-button-container a img {
    align-content: center;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}

