@{
    ViewData["Title"] = "Home Page";
}

<div name="main" class="text-center">
    <h1>BRANDON MCCARTHY</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div name="projects" class="text-center" background-size="cover">
    <h1>PROJECTS</h1>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/cK4ZNKOdtzQ?si=LPSePnUqs9JAMG_F" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/ZeK3e3JKQT4?si=zL1H0EcUZ5U9TgDx" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</div>

<div name="about-me" class="text-center">
    <h1>ABOUT ME</h1>
    <p>Lorem</p>
    <img src="../Resources/Images/Challenger.png" />
</div>
