@{
    ViewData["Title"] = "Home Page";
}

<div name="main" class="text-center">
    <h1>BRANDON MCCARTHY</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div name="projects" class="text-center" background-size="cover">
    <h1>PROJECTS</h1>

    <span class="video-container">
        <iframe class="video" width="560" height="315" src="https://www.youtube.com/embed/cK4ZNKOdtzQ?si=LPSePnUqs9JAMG_F" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </span>

    <span class="video-container">
        <iframe class="video" width="560" height="315" src="https://www.youtube.com/embed/ZeK3e3JKQT4?si=zL1H0EcUZ5U9TgDx" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </span>

</div>

<div name="about-me" class="text-center">
    <h1>ABOUT ME</h1>
    <p>Lorem</p>
    <img class="align-content-center" width="100%" height="100%" src="~/Resources/Images/Challenger.png" />
</div>

<div name="contact" class="text-center">
    <h1>CONTACT // LINKS</h1>

    <span class="social-button-container">
        <a href="https://www.youtube.com/sentrial" target="_blank" class="social-button"><img class="align-content-center" src="~/Resources/Images/Youtube_logo_square.png"/></a>
    </span>

    <span class="social-button-container">
        <a href="https://www.youtube.com/sentrial" target="_blank" class="social-button"><img class="align-content-center" src="~/Resources/Images/Tiktok_logo.png"/></a>
    </span>

    <span class="social-button-container">
        <a href="https://www.linkedin.com/in/brandonmccarthycs/" target="_blank" class="social-button"><img class="align-content-center" src="~/Resources/Images/Linkedin_logo.png" /></a>
    </span>

</div>