@{
    ViewData["Title"] = "Brandon McCarthy";
}

<div id="main" name="main" class="text-center">
    <h1 id="name">BRANDON MCCARTHY</h1>
    <p id="headline">every pebble holds infinite potential.</p>
</div>

<div id="projects" name="projects" class="text-center" background-size="cover">
    <h1>PROJECTS</h1>

    <div class="project-buttons">
        <button id="distressed-button" class="project-button selected">DISTRESSED</button>
        <button id="distressed2-button" class="project-button">DISTRESSED 2</button>
        <button id="floor-after-floor-button" class="project-button">FLOOR AFTER FLOOR</button>
    </div>
    <div id="projects-content-container">
        <div id="distressed-content" class="project-content distressed show-project">
            <h2>Distressed</h2>
            <a href="https://sentrial.itch.io/distressed" target="_blank">https://sentrial.itch.io/distressed</a>
            <div>
                <span>
                    Can you save the damsel in destress before the glass cage drops? <br />
                    Solve the puzzle and explore both endings!
                </span>
                <span>
                    <img src="~/resources/images/distressed-img1.jpg" />
                    <img src="~/resources/images/distressed-img2.jpg" />
                </span>
            </div>
        </div>

        <div id="distressed2-content" class="project-content distressed2 idle-project">
            <h2>Distressed 2</h2>
        </div>

        <div id="floor-after-floor-content" class="project-content floor-after-floor idle-project">
            <h2>Floor After Floor</h2>
        </div>
    </div>

</div>

<div id="content" name="content" class="text-center" background-size="cover">
    <h1>MY FAVORITE CONTENT</h1>

    <span class="video-container">
        <iframe class="video" width="560" height="315" src="https://www.youtube.com/embed/cK4ZNKOdtzQ?si=LPSePnUqs9JAMG_F" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </span>

    <span class="video-container">
        <iframe class="video" width="560" height="315" src="https://www.youtube.com/embed/ZeK3e3JKQT4?si=zL1H0EcUZ5U9TgDx" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </span>
</div>

<div id="about-me" name="about-me" class="text-center">
    <h1>ABOUT ME</h1>
    <p>Lorem</p>
    <img class="align-content-center" width="75%" height="75%" src="~/Resources/Images/Challenger.png" />
</div>

<div id="contact" name="contact" class="text-center">
    <h1>CONTACT // LINKS</h1>

    <span class="social-button-container">
        <a href="https://www.youtube.com/sentrial" target="_blank" class="social-button"><img class="align-content-center" src="~/Resources/Images/Youtube_logo_square.png"/></a>
    </span>

    <span class="social-button-container">
        <a href="https://www.youtube.com/sentrial" target="_blank" class="social-button"><img class="align-content-center" src="~/Resources/Images/Tiktok_logo.png"/></a>
    </span>

    <span class="social-button-container">
        <a href="https://www.linkedin.com/in/brandonmccarthycs/" target="_blank" class="social-button"><img class="align-content-center" src="~/Resources/Images/Linkedin_logo.png" /></a>
    </span>

</div>