@{
    ViewData["Title"] = "Brandon McCarthy";
}

<section id="main" name="main" class="text-center">
    <h1 id="name">BRANDON MCCARTHY</h1>
    <p id="headline">every pebble holds infinite potential.</p>
</section>

<section id="projects" name="projects" class="text-center" background-size="cover">
    <h1>PROJECTS</h1>

    <div class="slider">

        <div class="slider__nav">
            <button class="slider__indicator current-slide">Distressed</button>
            <button class="slider__indicator">Distressed 2</button>
            <button class="slider__indicator">Floor After Floor</button>
        </div>

        <button class="slider__button slider__button--left is-hidden">
            <img src="~/Resources/Images/left-arrow.png" />
        </button>

        <div class="slider__track-container">
            <ul class="slider__track">
                <li class="slider__slide current-slide">
                    <div class="slider__content">
                        <div>
                            <h2>Distressed</h2>
                            <a href="https://sentrial.itch.io/distressed">https://sentrial.itch.io/distressed</a>
                            <p>
                                <br />
                                One hour until the glass cage drops... <br />
                                Can you save the damsel in distress before it's too late? <br /><br />
                                Uncover the mystery and solve the puzzle in this <strong>dual ending</strong> game!
                                <br /><br />
                                Distressed was delevoped solo as a summer passion project where I self-taught Unity and C#.
                            </p>
                        </div>
                        <div class="image-stack">
                            <div class="image-stack-item image-stack-item--bottom">
                                <img src="~/resources/images/distressed-img1.jpg" id="d-image1" />
                            </div>
                            <div class="image-stack-item image-stack-item--top">
                                <img src="~/resources/images/distressed-img2.jpg" id="d-image2" />
                            </div>
                        </div>
                    </div>
                </li>
                <li class="slider__slide">
                    <div class="slider__content">
                        <div>
                            <h2>Distressed 2</h2>
                            <a>IN PROGRESS</a>
                            <p>
                                <br />
                                One hour until the glass cage drops... <br />
                                Can you save the damsel in distress before it's too late? <br /><br />
                                Uncover the mystery and solve the puzzle in this <strong>dual ending</strong> game!
                                <br /><br />
                                Distressed2 is a remake and redesign of the orignally distressed with more mechanics,
                                puzzles, art, and secrets.
                            </p>
                        </div>
                        <div class="image-stack">
                            <div class="image-stack-item image-stack-item--bottom">
                                <img src="~/resources/images/distressed-img1.jpg" id="d-image1" />
                            </div>
                            <div class="image-stack-item image-stack-item--top">
                                <img src="~/resources/images/distressed-img2.jpg" id="d-image2" />
                            </div>
                        </div>
                    </div>
                </li>
                <li class="slider__slide">
                    <div class="slider__content">
                        <div>
                            <h2>Floor After Floor</h2>
                            <a>IN PROGRESS</a>
                            <p>
                                <br />
                                You find yourself in an abandoned mall with one goal: <br />
                                <strong>Make money and get out.</strong><br />
                                Fight your way through each floor, loot stores, and find the extraction point.
                                <br /><br />
                                Floor After Floor was delevoped in a group of 5 in a Games course at the University of Utah.
                            </p>
                        </div>
                        <div class="image-stack">
                            <div class="image-stack-item image-stack-item--bottom">
                                <img src="~/resources/images/distressed-img1.jpg" id="d-image1" />
                            </div>
                            <div class="image-stack-item image-stack-item--top">
                                <img src="~/resources/images/distressed-img2.jpg" id="d-image2" />
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

        <button class="slider__button slider__button--right">
            <img src="~/Resources/Images/right-arrow.png" />
        </button>
    </div>
</section>

<section id="about-me" name="about-me" class="text-center">
    <h1>ABOUT ME</h1>
    <div class="about-me__content">
        <div class="about-me__text-container">
            <p>
                I’m <span>Brandon McCarthy</span>, a senior at the University of Utah studying computer science with an emphasis in games.
                My grandpa got me interested in computers and PC games from a young age, and I have expanded on that to interest in programming, competitive gaming, and content creation.
                My goal as a developer, creator, and person is to inspire others. I want to give people the awe and excitement that my favorite pieces of content give me
                by delivering an incredible and unique experience through my work.
                <br /><br />
                My hobbies include playing games, working out, and reading.
           </p>
        </div>
        <div class="about-me__image-container">
            <img class="align-content-center" src="~/Resources/Images/Challenger.png" />
        </div>
    </div>
    <div class="about-me__lists">
        <div>
            <h2>Favorite Books</h2>
            <ul>
                <li>12 Rules for Life - Jordan Peterson</li>
                <li>Meditations - Marcus Aurelius</li>
                <li>Illuminae Files Series - Amie Kaufman, Jay Kristoff</li>
            </ul>
        </div>
        <div>
            <h2>Favorite Games</h2>
            <ul>
                <li>League of Legends</li>
                <li>Outerwilds</li>
                <li>Minecraft</li>
            </ul>
        </div>
    </div>
</section>

<section id="content" name="content" class="text-center" background-size="cover">
    <h1>MY FAVORITE CONTENT</h1>

    <div class="video-grid">
        <div class="video-container">
            <iframe class="video" width="560" height="315" src="https://www.youtube.com/embed/cK4ZNKOdtzQ?si=LPSePnUqs9JAMG_F" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <h2>A Stoic Approach to League</h2>
        </div>

        <div class="video-container">
            <iframe class="video" width="560" height="315" src="https://www.youtube.com/embed/Vg_B63tFqNM?si=_gmHcgtN9I_VXh91" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <h2>Black Mirror Scene Analysis</h2>
        </div>

        <div class="video-container">
            <iframe class="video" width="560" height="315" src="https://www.youtube.com/embed/ZeK3e3JKQT4?si=zL1H0EcUZ5U9TgDx" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <h2>Sound of Silence - Minecraft</h2>
        </div>

        <div class="video-container">
            <iframe class="video" width="560" height="315" src="https://www.youtube.com/embed/khqS58GHRjA?si=a4Kqy7HqeF4g4Nt2" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <h2>Snoop Da Snack - Bboy & Haido</h2>
        </div>
    </div>
</section>

<div id="contact" name="contact" class="text-center">
    <h1>CONTACT // LINKS</h1>

    <div class="social-buttons">
        <div class="social-button-container">
            <a href="https://discord.com/users/181164142969749504" target="_blank" class="social-button"><img src="~/resources/images/discord-logo.png" /></a>
        </div>

        <div class="social-button-container">
            <a href="mailto:brandonmccarthycs@gmail.com" target="_blank" class="social-button"><img src="~/resources/images/email-logo.png" /></a>
        </div>

        <div class="social-button-container">
            <a href="https://www.linkedin.com/in/brandonmccarthycs/" target="_blank" class="social-button"><img src="~/resources/images/linkedin_logo.png" /></a>
        </div>

        <div class="social-button-container">
            <a href="https://www.youtube.com/sentrial" target="_blank" class="social-button"><img src="~/resources/images/youtube_logo_square.png" /></a>
        </div>
    </div>

    <div class="resume-button">
        <div class="social-button-container resume">
            <a href="https://www.linkedin.com/in/brandonmccarthycs/" target="_blank" class="social-button">RESUME</a>
        </div>
    </div>
    


</div>