<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Brandon McCarthy</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/ResumeWebsite.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <!--Header / Nav Bar-->
    <header class="header">
        <nav id="navbar" class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light">
            <div class="container-fluid">

                <!--Home Button-->
                <a id="home-button" class="navbar-brand text-center" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/resources/images/dagger-logo-white.png"/></a>

                <!--Nav Buttons-->
                <div id="navbar-div" class="navbar-buttons collapse d-sm-inline-flex justify-content-between align-content-center">
                    <ul class="navbar-nav flex-grow-1">

                        <li class="nav-item">
                            <a class="nav-link" href="#main">HOME</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#projects">PROJECTS</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#about-me">ABOUT ME</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#content">CONTENT</a>
                        </li>

                        <li class="nav-item" >
                            <a class="nav-link" href="#contact">CONTACT // LINKS</a>
                        </li>

                    </ul>
                </div>

            </div>
        </nav>
    </header>

    <!--Render Body-->
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
